{% extends "fzm/layout.html" %}

{% block content %}
<h1 class="mt-4">Goods</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
    <li class="breadcrumb-item active">Goods</li>
</ol>
<div class="card shadow mb-4">
<div class="card-header py-3">
  <h6 class="m-0 font-weight-bold text-primary">Good List</h6>
</div>
<div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Type</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        {% if good_list %}
            {% for good in good_list %}
                <tr role="row" class="odd">
                    <td class="sorting_1">{{ good.id }}</td>
                    <td class="sorting_1">{{ good.good_name }}</td>
                    <td class="sorting_1">{{ good.type.type_name }}</td>
                    <td class="sorting_1">{{ good.quantity }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <p>Null</p>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
</div>
{% endblock %}