{% extends "fzm/layout.html" %}

{% block content %}
<h1 class="mt-4">Operate</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
    <li class="breadcrumb-item active">Operate</li>
</ol>
<div class="card shadow mb-4">
<div class="card-header py-3">
  <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
</div>
<div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Office</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        {% if operate_list %}
            {% for operate in operate_list %}
                <tr role="row" class="odd">
                    <td class="sorting_1">{{ operate.id }}</td>
                    <td class="sorting_1">{{ operate.the_time }}</td>
                    <td class="sorting_1">
                        {% if operate.operate_quantity > 0 %}
                            Stock In
                        {% else %}
                            Stock Out
                        {% endif %}
                    </td>
                    <td class="sorting_1">{{ operate.good.good_name }}</td>
                    <td class="sorting_1">{{ operate.operate_quantity }}</td>
                    <td class="sorting_1">{{ operate.note }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <p>没有定义物品</p>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
</div>
{% endblock %}