{% extends "fzm/layout.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-4 col-md-4 col-sm-offset-4 col-md-offset-4">
        <div class="card">
            <div class="card-body">
                <form action="{% url 'fzm:do' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <select name="select" class="custom-select custom-select-sm form-control form-control-sm">
                                <option selected disabled>Choose Good here</option>
                            {% for good in good_list %}
                                <option id="good{{ forloop.counter }}" value="{{ good.id }}">{{ good }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <input type="number" name="count" class="form-control bg-light small"
                                   placeholder="Modify Inventory">
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}